button {
    display: inline-block;
    width: 100%;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: large;
    color: #fff;
    padding: 1rem;
    background: none;
    border: none;
    position: relative;
    margin: 5px 0;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: scale(0.8);
}

.boton-span-1, .boton-span-2, .boton-span-3, .boton-span-4 {
    position: absolute;
}

.boton-span-1 {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #800080);
    top: 0;
    left: -100%;
    animation: boton-span-1 1s infinite linear;
}

@keyframes boton-span-1 {
    to {
        left: 100%;
    }

    from {
        left: -100%;
    }
}

.boton-span-2 {
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ffff);
    top: -100%;
    right: 0;
    animation: 1s boton-span-2 infinite linear;
    animation-delay: 0.5s;
}

@keyframes boton-span-2 {
    to {
        top: 100%;
    }

    from {
        top: -100%;
    }
}

.boton-span-3 {
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #800080);
    right: -100%;
    bottom: 0;
    animation: 1s boton-span-3 infinite linear;
    animation-delay: 1s;
}

@keyframes boton-span-3 {
    to {
        right: 100%;
    }

    from {
        right: -100%;
    }
}

.boton-span-4 {
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00ffff);
    bottom: -100%;
    left: 0;
    animation: 1s boton-span-4 infinite linear;
    animation-delay: 1.5s;
}

@keyframes boton-span-4 {
    to {
        bottom: 100%;
    }

    from {
        bottom: -100%;
    }
}

.boton-click {
    color: #800080;
}

.boton-click:hover {
    text-shadow: 0 0 10px #800080cc, 0 0 20px #800080cc,
    0 0 30px #800080cc;
}

.boton-reiniciar {
    color: #00ffff;
}

.boton-reiniciar:hover {
    text-shadow: 0 0 10px #00ffffcc, 0 0 20px #00ffffcc,
    0 0 30px #00ffffcc;
}